html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0e7da; 
  border-bottom: #000000;
}

.letter-red {
  color: #94412f;
}

.letter-orange {
  color: #d16644;
}

.letter-green {
  color: #68b2a0;
}

.letter-blue {
  color: #4f6c8a;
}

.navbar {
  background-color: #f0e7da;
  font-family: 'Maven Pro', sans-serif;
}

.jumbotron {
  background-color: #f0e7da;
}

.main-title {
  font-family: 'Maven Pro', sans-serif;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea,
.note-title {
  background-color: #f0e7da;
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-title {
  font-family: 'Maven Pro', sans-serif;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  background-color: #f0e7da;
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}
